html {
    text-align: center;
}

table {
    margin: 0 auto;
    margin-top: 2rem;
}

input {
    margin: 0.3rem;
}

button {
    margin: 0.3rem;
}

th {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem;
}

tr {
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    padding: 0.7rem;
    border: solid black 1px;
    width: 8rem;
}